<mat-card class="page-card">
  <h2>Gêneros</h2>

  <button class="botaoAdd" mat-fab color="primary" (click) = "new()">
    <mat-icon>add</mat-icon>
  </button>

  <button class="botaoAtualizar" mat-button color="primary" (click) = "listar()">
    <mat-icon>refresh</mat-icon>
  </button>

  <div>
    <mat-table [dataSource]="generos" class="mat-elevation-z8">

      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let genero"> {{genero.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let genero">

            <button mat-button color="primary" (click) = "remover(genero._id)" >
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-button color="primary" (click) = "selecionar(genero)" >
              <mat-icon>edit</mat-icon>
            </button>

          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
    </mat-table>
  </div>

  <div *ngIf="generoSelecionado" class="mt">
    <h2>Inserir / Editar</h2>

    <mat-form-field class="formItem">
      <mat-label>Nome*</mat-label>
      <input #nome matInput placeholder="Exemplo: Survival Horror" [(ngModel)] = "generoSelecionado.nome" [formControl]="FieldValidator" [errorStateMatcher]="matcher">

      <!-- <mat-hint>Nome deve ter pelo menos 3 caracteres!</mat-hint> -->

      <mat-error *ngIf="FieldValidator.invalid">
        Campo <strong>obrigatório!</strong>
      </mat-error>
    </mat-form-field>

    <div>
      <button class="mt btnAcao" mat-raised-button color="primary" (click) = "cancelar()" >
        Cancelar
      </button>

      <button class="btnAcao" mat-raised-button color="accent" (click) = "salvar()" >
        Salvar
      </button>
    </div>

  </div>

</mat-card>
