<h2 class="text-center">Sobre a aplicação</h2>
<mat-tab-group dynamicHeight mat-align-tabs ="center">

  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">school</mat-icon>
      Instituição
    </ng-template>
    <div class="text-center mt fontTabs">
      Senac 2020
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">description</mat-icon>
      Curso
    </ng-template>
    <div class="text-center mt fontTabs">
      Sistemas para internet - 3º Semestre
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">bubble_chart</mat-icon>
      Máteria
    </ng-template>
    <div class="text-center mt fontTabs">
      Aplicações interativas
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">contact_support</mat-icon>
      Trabalho
    </ng-template>
    <div class="text-center mt fontTabs">
      Portal de jogos (crud de jogos e seus gêneros)
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">emoji_emotions</mat-icon>
      Aluno
    </ng-template>
    <div class="text-center mt fontTabs">
      Emerson Costa Santos
    </div>
  </mat-tab>
</mat-tab-group>
