<h1>Meus Filmes</h1>
<ul>
  <li *ngFor="let movie of movies; let i = index" >
      <span (click) = "selectedMovie(movie);">  {{movie.name}} - {{movie.rating}} </span>
    <input type="button" value="X" (click) = "remove(i);">
  </li>
</ul>

<!-- Proteger com ngIf para não tentar acessar as propriedades do objeto quando ele estiver nulo. -->
<div class="mt" *ngIf="selMovie">
  <input type="text"   [(ngModel)] = "selMovie.name" placeholder="Digite o nome do Filme*">

  <div class="mt" >
    <input type="number" [(ngModel)] = "selMovie.rating" placeholder="Digite a nota do Filme*">
  </div>

  <input type="button" value="Salvar" (click) = "addMovie()" [disabled] = "!selMovie.name && !selMovie.rating">

</div>

<div class="mt">
  <input type="button" value="New" (click) = "new()">
  <input type="button" value="Cancel" (click) = "cancel()">
</div>
